.CheckoutBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 100;
}
.CheckoutModal {
  position: fixed;
  top: 30%;
  z-index: 500;
  background-color: white;
  width: 40%;
  text-align: center;
  left: 30%;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25%;
  border-radius: 15px;
}
